/* CSS for Test-Env */

body {
cursor: url(https://i.imgur.com/R1LDYnL.png), auto;
background: url(https://i.imgur.com/T6e3IkL.png);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-color: #000
}
