/* 2024 Table Upgrades... Getting on with the times?*/

.unitable {
    overflow: hidden;
    display: block; /* Ensure the table behaves like a block element */
    max-height: 30px; 
    table-layout: fixed;
  }

.unitable.collapsed {
    max-width: 700px; /* Set max-width for collapsed state */
    transition: max-height 0.5s ease; /* Add smooth transition */
  }

.unitable.expanded {
    max-height: 1000px; /* Set max-height for full expansion */
    max-width: 700px; /* Set max-width for collapsed state */
    transition: max-height 0.75s ease; /* Add smooth transition */
  }

.toggleButtonContainer {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px; /* Rounded corners */
  background: linear-gradient(135deg, #555555, #222222); /* Black-greyish gradient fill */
  border: 1px groove orange; /* Orange outline */

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0px rgba(255, 165, 0, 0.7);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease; /* Add both transitions */
  transform: scale(1); 
}

.toggleButtonContainer:hover {
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.7);
}

  .toggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
        color: orange;
  }

  .toggleButton:hover svg {
    color: orange;
  }

  .toggleButton svg {
    transition: transform 0.3s ease; 
  }

  .toggleButton.expand svg {
    transform: rotate(180deg);
    }
  .toggleButtonContainer.expand {
    transform: scale(1.2);
    transition: transform 0.3s ease; 
  }

/* Original CSS */

    .xl151547 {
      padding: 2px;
      color: orange;
      font: medium 11pt Assistant, sans-serif, Aubrey;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      vertical-align: center;
      white-space: nowrap;
    }

    .xl161547 {
      padding: 2px;
      color: white;
      font-size: 11pt;
      font-weight: 800;
      font-style: medium;
      text-decoration: none;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: left; 
      vertical-align: center;
      border: 2px groove #7F0000;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: nowrap;
    }

    .xl251547 {
      padding: 2px;
      color: windowtext;
      font-size: 11.0pt;
      font-weight: 400;
      font-style: medium;
      text-decoration: none;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      white-space: nowrap;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .xl261547 {
      padding: 2px;
      color: silver;
      font-size: 11.0pt;
      font-weight: 400;
      font-style: medium;
      text-decoration: none;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px groove #442200;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: normal;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
 
    .xl271547 {
      padding: 2px;
      color: silver;
      font-size: 11.0pt;
      font-weight: 400;
      font-style: medium;
      text-decoration: none;
      font-family: Acme, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px groove #442200;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: normal;
    }

    .xl271547_D {
      padding: 2px;
      color: silver;
      font-size: 11.0pt;
      font-weight: 400;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px groove #7a3c00;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: normal;
      max-width: 15rem;
      text-shadow: 1px 1px 1px black;
    }
 
    .xl271547_S {
      padding: 2px;
      color: silver;
      font-size: 11.0pt;
      font-weight: 400;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px groove #660000;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: normal;
      max-width: 10rem;
      text-shadow: 1px 1px 1px black;
    }

    .xl271547_W {
      padding: 2px;
      color: silver;
      font-size: 11.0pt;
      font-weight: 400;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px groove #004000;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: normal;
      max-width: 10rem;
      text-shadow: 1px 1px 1px black;
    }

    .xl271547_L {
      padding: 2px;
      color: silver;
      font-size: 11.0pt;
      font-weight: 400;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px groove #4c004c;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: normal;
      max-width: 10rem;
      text-shadow: 1px 1px 1px black;
    }

    .xl271547_N {
      padding: 2px;
      color: silver;
      font-size: 11.0pt;
      font-weight: 400;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px groove #595959;
      background-color: rgba(0, 0, 0, 0.3);
      white-space: normal;
      max-width: 10rem;
      text-shadow: 1px 1px 1px black;
    }

    .xl281547 {
      padding: 2px;
      color: white;
      font-size: 12.0pt;
      font-weight: 400;
      font-style: medium;
      text-decoration: none;
      font-family: Assistant, sans-serif, Aubrey;
      text-align: center;
      vertical-align: center;
      border: 2px solid windowtext;
      background: #79180B;
      white-space: nowrap;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
