/* CSS for Test Env */

/* These guys share the same styles */
.xl151547,
.xl261547,
.xl271547,
.xl271547_D,
.xl271547_S,
.xl271547_W,
.xl271547_L,
.xl271547_N {
  padding: 2px;
  color: silver;
  font: 11.0pt Assistant, sans-serif, Aubrey;
  text-align: center;
  vertical-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  white-space: normal;
  text-shadow: 1px 1px 1px black;
}

.xl161547 {
  padding: 2px;
  color: white;
  font-size: 11pt;
  font-weight: 800;
  font-style: medium;
  text-decoration: none;
  font-family: Assistant, sans-serif, Aubrey;
  text-align: left;
  vertical-align: center;
  border: 2px groove #7F0000;
  background-color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.xl251547 {
  padding: 2px;
  color: windowtext;
  font-size: 11.0pt;
  font-weight: 400;
  font-style: medium;
  text-decoration: none;
  font-family: Assistant, sans-serif, Aubrey;
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.xl281547 {
  padding: 2px;
  color: white;
  font-size: 12.0pt;
  font-weight: 400;
  font-style: medium;
  text-decoration: none;
  font-family: Assistant, sans-serif, Aubrey;
  text-align: center;
  vertical-align: center;
  border: 2px solid windowtext;
  background: #79180B;
  white-space: nowrap;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
