/* CSS for Test Env */

.xl151547 {
    padding: 2px;
    color: orange;
    font: medium 11pt Assistant, sans-serif, Aubrey;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: center;
}

.xl161547 {
    padding: 2px;
    color: white;
    font-size: 11pt;
    font-weight: 800;
    font-style: medium;
    font-family: Assistant, sans-serif, Aubrey;
    border: 2px groove #7F0000;
    background-color: rgba(0, 0, 0, 0.5);
}

.xl251547,
.xl261547,
.xl271547,
.xl271547_D,
.xl271547_S,
.xl271547_W,
.xl271547_L,
.xl271547_N {
    padding: 2px;
    color: silver;
    font-size: 11pt;
    font-weight: 400;
    font-style: medium;
    font-family: Assistant, sans-serif, Aubrey;
    text-align: center;
    vertical-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    max-width: 10rem;
    text-shadow: 1px 1px 1px black;
}

.xl281547 {
    padding: 2px;
    color: white;
    font-size: 12pt;
    font-weight: 400;
    font-style: medium;
    font-family: Assistant, sans-serif, Aubrey;
    text-align: center;
    vertical-align: center;
    border: 2px solid windowtext;
    background: #79180B;
    white-space: nowrap;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
